.body{
    background-image: url(imgs/chip\ logo.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.white{
    height: 500px;
    background-color:#e8e8e8;
    margin-top: 1000px;
    margin-bottom: 200px;
    padding-top: 70px;
    opacity: 0.7;
  }
  .h1{
    margin-top: 30px;
color: black;
font-family: "bigcity-grotesque-pro", sans-serif;
font-weight: 400;
font-style: normal;
    opacity: 1;
    text-align: center;
  }
  .navbar {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    padding: 0%;
  }
  .about{
    text-align: center;
  }
  .container-fluid{
    background-color: rgb(141, 29, 29);
  }
  h2{
    padding: 80px;
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
  }
  .card{
  height: 100px;
  padding: 40px;
  }
  h3{
    text-align: center;
    font-size: 100px;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgb(177, 45, 45);
  }
  .wrapper{
    text-align: center;
    font-size: 20px;
  }
  .bigcity-grotesque-pro{
  font-family: "bigcity-grotesque-pro", sans-serif;
font-weight: 400;
font-style: normal;
  }
  .footer {
    background: rgb(141, 29, 29);
    padding: 30px 0px;
    font-family: 'Play', sans-serif;
    text-align: center;
    margin-top: 120px;
  }
  
  .footer {
    width: 100%;
    color: rgb(255, 246, 246);
    font-size: 30px;
  }
  
  .footer  a {
    text-decoration: none;
    color: rgb(240, 240, 240);
    transition: 0.5s;
  }
  
  .footer  a:hover {
    color: #fff;
  }
  
  .footer  ul {
    width: 100%;
  }
  
  .footer  ul li {
    display: inline-block;
    margin: 0px 30px;
  }
  
  .footer  a i {
    font-size: 2em;
    margin: 0% 1%;
  }
  
  @media (max-width:720px) {
    .footer {
      text-align: left;
      padding: 5%;
    }
  
  
    .footer  ul li {
      display: block;
      margin: 10px 0px;
      text-align: left;
    }
  
    .footer  a i {
      margin: 0% 3%;
    }
  }